@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&display=swap');

:root {
    --dosis-font: 'Dosis', sans-serif;
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--dosis-font);
    color: white;
}

#main-card {
    position: relative;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
    background-color: black;
}

#card-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 40%;
    padding: 0;
    margin: auto;
}

#card-title {
    height: 15%;
    line-height: 85px;
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px 10px 0 0;
    text-align: center;
}

#todo-list {
    width: 100%;
    height: 77.5%; 
    background-color: rgb(19, 19, 19);
    overflow-x: hidden;
    overflow-y: auto;
}

.todo-item {
    display: block;
    height: 10%;
    width: 100%;
    border: solid 2px black;
    color: rgb(179, 179, 179);
    border-radius: 2.5px;
    background-color: rgb(49, 49, 49);
    transition: all ease-in-out 0.5s;
}

.todo-open {
    display: block;
    height: 40%;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
    transition: all ease-in-out 0.5s;
}

.notes-wrapper {
    height: 65%;
    width: 70%;
    float: left;
    padding: 0 20px;
    margin-top: 10px;

}

.title-notes {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.notes {
    word-break: break-all;
    letter-spacing: 0.2px;
}

.start-date-wrapper {
    height: 40%;
    width: 20%;
    float: left;
    text-align: center;
    line-height: 30px;
    border-left: solid 1px white;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 20px;
}

.arrow-wrapper {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    height: 100%;
    width: 5%;
    margin: 0;
    margin-left: 10px;
    transition: all ease-in-out 0.5s;
}

span {
    display: inline-block;
    font-size: 1.75rem;
    transform: rotate(-90deg);
    margin-left: 5px;
}

.todo-title-wrap {
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 50px;
    height: 100%;
    width: 72.5%;
}

.todo-title-wrap:first-letter {
    text-transform: capitalize;
}

.priority-meter {
    display: inline-block;
    border-radius: 100%;
    margin-top: 20px;
    margin-right: 10px;
    width: 12.5px;
    height: 12.5px;
}

.due-date {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    height: 100%;
    width: 10%;
    margin-right: 10px;
}

.checkbox-wrapper {
    display: inline-block;
    vertical-align: center;
    padding-top: 10px;
    width: 5%;
    height: 50%;
}

.edit-wrapper {
    display: inline-block;
    width: 5%;
    height: 10%;
    cursor: pointer;
}

img {
    max-width: 50%;
    max-height: 100%;
}

#add-wrapper {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: rgb(19, 19, 19);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

input[type="text"] {
    height: 60%;
    width: 87.5%;
    margin: 10px 10px 0 10px;
    border-radius: 5px;
    vertical-align: top;
    background-color: white;
}

input[type="image"] {
    position: absolute;
    top: 0;
    right: 12.5px;
    margin-top: 9px;
    width: 45px;
    height: 45px;
    background-color: orange;
    transform: rotate(-90deg);
    border-radius: 100%;
}

#card-list {
    height: 20%;
    width: 100%;
    background-color: grey;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

#edit-form {
    margin: 200px auto;
    padding: 0 20px;
    height: 500px;
    width: 400px;
    background-color: rgb(49, 49, 49);
}

#edit-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    text-align: right;
    float: left;
    width: 50%;
    margin: 30px 0;
}

#title-input {
    position: absolute;
    height: 20px;
    left: 0;
    top: -5px;
    border: 0;
    outline: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid green;
    background-color: transparent;
    color: white;
    transition: 0.2s all;
}

/*#title-input:focus {
    top: 20px;
}*/

#title-label {
    position: relative;
    color: white;
    top: 0;
    left: -190px;
    font-size: 1.25rem;
}

#close {
   float: right;
   margin-top: 15px;
   height: 30px;
   width: 30px;
   text-align: left;
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
   color: white;
   font-size: 1.5rem;
}

#close:hover {
    color: red;
}

#text-group {
    position: relative;
    top: 100px;
    height: 50px;

}

#drop-group {
    position: relative;
    top: 90px;  
    height: 100px;
    padding-left: 10px;
}

#priority-label {
    position: relative;
    left: -190px;
    top: 5px;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

#dropdown {
    position: relative;
    top: -37.5px;
    left: 100px;
}

#date-group {
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 1.25rem;
}

#due-date-input {
    position: relative;
    left: 20px;
}

#notes-group {
    position: relative;
    top: 80px;
    left: 10px;
}

#notes-label {
    font-size: 1.25rem;
}

#notes-input {
    height: 80px;
    width: 350px;
    padding: 10px;
}

#submit {
    position: relative;
    height: 30px;
    width: 100px;
    top: 100px;
    left: 150px;
}
